<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
    <link rel="stylesheet" href="../static/css/style_homepage.css">
    <style>
        #heada1{
            background-image: url("{{ url_for('static', filename='images/guangsha.png') }}");
        }
        #heada1:hover{
            background-image: url("{{ url_for('static', filename='images/b.png') }}");
        }
    </style>
</head>
<body class="container">
    <header class="header">
        <nav id="navi">
            <div class="headdiv">
                <a id="heada1" href="main" >
                </a>
            </div>
            <div class="headdiv">
                <a class="headwordlink" href="https://itzy.jype.com/" target="_blank">Venues</a>
            </div>
            <div class="headdiv">
                <a class="headwordlink" href="">Artists</a>
            </div>
            <div class="headdiv">
                <a class="headwordlink" href="show_list">Shows</a>
            </div>
        </nav>
    </header>
    <div class="main1">
        <article class="left">
            <div id="main1sub1">
                <div id="main1sub1lf">Bookmu</div>
                <div><img id="main1sub1rt"style="width: 10%; border-radius:10px;"src="../static/images/homemain1sub1.jpeg" alt=""></div>
                 
            </div>
            <div id="main1sub2">Where music artists meet music venues</div>
            <div id="main1sub3">
                <div class="box1">
                    <button class="button1" onclick="location.href='venue_list'">
                        Find a Venue
                    </button>
                </div>
                <div class="box2">
                    <button class="button2" onclick="location.href='venues'">
                        Post a Venue
                    </button>
                </div>
                <div class="box3">
                    <button class="button1" onclick="location.href='artist_list'">
                        Find an Artist
                    </button>
                </div>
                <div class="box4">
                    <button class="button2" onclick="location.href='artist'">
                        Post an Artist
                    </button>
                </div>
            </div>
            <div id="main1sub2">Publicize your show for free</div>
            <div id="main1sub5">
                <button class="button2" onclick="location.href='shows'">
                    Post a Show
                </button>
            </div>
        </article>
        
    </div>
    <div class="main2">
            <img style="width: 75%;" src="../static/images/homemain2.jpeg" alt="">
    </div>
    <footer class="footer">footer</footer>
</body>
</html>